.container{
  min-height: 100vh;
}


.backgroundContainer{
  position: fixed;
  width: 100%;
  z-index: -1;
}


.backgroundContainer > img{
  object-fit: contain;
  width: 100%;
}


.pageContent{
  min-height: inherit;
  display: flex;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.pageInfo{
display: flex;
flex-direction: column;
gap: 20px;
}

.pageInfo > h1{
  font-size: 2.7rem;
  max-width: 400px;
}

.pageInfo > p{
  font-size: 1rem;
  max-width: 500px;
}


.trialContainer{
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trialContainer > header{
  font-size: 1rem;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  background: hsl(248, 32%, 49%);
}


.trialContainer > header > div > h1{
  font-weight: bold;
}

.trialContainer > header > div >span{
  font-weight: lighter;
  color: lightgray;
}


.formContainer{
  background: white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
gap: 20px;
}

.formContainer > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer > div > p{
  color: red;
  text-align: end;
  font-size: .8rem;

}

.formContainer > div > input{
  border:1px solid lightgray;
  width: 100%;
  text-indent: 20px;
  height: 50px;
border-radius: 10px;
}





.formContainer > div > input::placeholder{
  font-weight: bold;
}

.formContainer > button{
  cursor: pointer;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  background:hsl(154, 59%, 51%) ;
  transition: .5s;
}

.formContainer > button:hover{
  transform: scale(1.02);
}


.termsAndServices{
  color: gray;
  font-size: .6rem;
}

.termsAndServices > a{
  text-decoration: none;
  color: var(--background);
  font-weight: 500;
}

.attribution{
  position: absolute;
  bottom: 6px;
  display: flex;
  width: fit-content;
  font-size: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 700;
  color: black;
}
.attribution *{
  margin: auto 5px;
}

.attribution a{
  color: rgb(38, 0, 255);
  font-weight:900;
  text-decoration: none;
}


@media (max-width:768px) {

.pageContent {
  width: 90%;
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
}


.pageInfo > h1{ 
  margin: auto;
}

 .attribution{
   display: none;
   visibility: collapse;
 }
}