:root{
  --soft-violet:hsl(273, 75%, 66%);
  --soft-blue:hsl(240, 73%, 65%);
}

body {
  /* linear-gradient(top to bottom,var(--soft-violet),var(--soft-blue)) */
  background: linear-gradient(180deg,var(--soft-violet),var(--soft-blue));
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}